<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!--====form section start====-->
    <div class="course-detail">
        <h2>Create students Data</h2>
        <form action="/courses/create" method="POST">
            <label>course name</label>
            <input type="text" placeholder="Enter course name" name="course_name" required>
            <button type="submit">Submit</button>
    </div>
    </div>
    <!--====form section start====-->
</body>

</html>