<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!--====form section start====-->
    <div class="lecture-detail">
        <h2>Create students Data</h2>
        <form action="/lectures/create" method="POST">
            <label>subject name</label>
            <input type="text" placeholder="Enter subject name" name="subject_name" required>
            <label>subject id</label>
            <input type="number" placeholder="Enter subject id" name="subject_id" required>
            <label>class</label>
            <input type="text" placeholder="Enter class" name="class_name" required>
            <label>teacher id</label>
            <input type="text" placeholder="Enter teacher id" name="teacher_id" required>
            <label>timing</label>
            <input type="text" placeholder="Enter timing" name="timing" required>
            <label>Day</label>
            <input type="text" placeholder="Enter Day" name="day" required>
            <label>year</label>
            <input type="number" placeholder="Enter year" name="year" required>
            <button type="submit">Submit</button>
    </div>
    </div>
    <!--====form section start====-->
</body>

</html>