<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!--====form section start====-->
    <div class="student-detail">
        <h2>Create students Data</h2>
        <form action="/students/create" method="POST">
            <label>student id</label>
            <input type="text" placeholder="Enter Student Id" name="student_id" required>
            <label>user id</label>
            <input type="number" placeholder="Enter user id" name="user_id" required>
            <label>course id</label>
            <input type="number" placeholder="Enter course id" name="course_id" required>
            <label>roll number</label>
            <input type="text" placeholder="Enter Roll Number" name="roll_number" required>
            <label>year</label>
            <input type="text" placeholder="Enter college year" name="year" required>
            <button type="submit">Submit</button>
    </div>
    </div>
    <!--====form section start====-->
</body>

</html>