<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!--====form section start====-->
    <div class="subject-detail">
        <h2>Create subject Data</h2>
        <form action="/subjects/create" method="POST">
            <label>Subject Name</label>
            <input type="text" placeholder="Enter Subject Name" name="subject_name" required>
            <label>Course ID</label>
            <input type="int" placeholder="Enter Course ID" name="course_id" required>
            <button type="submit">Submit</button>
    </div>
    </div>
    <!--====form section start====-->
</body>

</html>