<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!--====form section start====-->
    <div class="teacher-detail">
        <h2>Create teacher Data</h2>
        <form action="/teachers/create" method="POST">
            <label>Terna ID</label>
            <input type="text" placeholder="Enter Terna ID" name="t_id" required>
            <label>User ID</label>
            <input type="int" placeholder="Enter user id" name="user_id" required>
            <button type="submit">Submit</button>
    </div>
    </div>
    <!--====form section start====-->
</body>

</html>